{
    "rules": {
		"comma-dangle": [2, "only-multiline"],
        "space-before-function-paren": [2, "never"],
        "no-lone-blocks": 2,
        "quote-props": [2, "as-needed"],
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "no-trailing-spaces": 2,
        "keyword-spacing": [2, {"after": true}],
        "no-with": 2,
        "comma-spacing": [2, {"before": false, "after": true}],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "no-multiple-empty-lines": 2,
        "one-var": [1, {
            "uninitialized": "always", // Exactly one declaration for uninitialized variables per function (var) or block (let or const)
            "initialized": "never" // Exactly one declarator per initialized variable declaration per function (var) or block (let or const)
        }],
        "space-before-blocks": [2, "always"],
        "camelcase": 2,
        "new-cap": 1,
        "dot-notation": 2,
        "indent": [2, "tab"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
		"no-console": 0
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "console": true,
		"global": true
    },
    "extends": "eslint:recommended"
}
